.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.link {
  border-bottom: 1px solid rgba(128, 128, 128, 0.54);
  padding: 10px;
  transition: border-bottom 0.3s ease;
}

.link:hover {
  cursor: pointer;
  border-bottom: 1px solid rgb(198, 197, 179);
}


.logoutButton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: #c82333;
}

.greeting {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.greeting.hidden {
  opacity: 0;
}
